<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotic_arm">

  <!-- Import r6bot macro -->
  <xacro:include filename="$(find robotic_arm)/robotic_arm_description/r6bot/urdf/r6bot_description.urdf.xacro"/>

  <!-- create link fixed to the "world" -->
  <link name="world"/>

  <xacro:r6bot_description/>

  <!-- Import Gazebo elements -->
  <xacro:include filename="$(find robotic_arm)/gazebo/robotic_arm.gazebo.xacro" />
  <xacro:robotic_arm_gazebo />

  <!-- Import ros2_control plugin for Gazebo -->
  <xacro:include filename="$(find robotic_arm)/ros2_control/robotic_arm_gazebo.ros2_control.xacro" />
  <xacro:robotic_arm_ros2_control name="robotic_arm" />

</robot>
